.activity-card {
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 230px;
}

.card-header {
    flex: 1;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    justify-content: flex-end;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right 1.5vw center;
} 

.card-body {
    flex: 4;
    border-radius: 20px;
    background-color: hsl(235, 46%, 20%);
    margin-top: -20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-header-image {

    margin-right: 20px;
   border: 1px solid black;
}

.card-body-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.activity {
    font-size: 18px;
    font-weight: 500;
}

.ellipsis {
    font-size: 18px;
    right: 0px;
    align-items: center;
}

.duration {
    margin-top: 25px;
    font-size: 52px;
}

.previousDuration  {
    margin-top: 10px;
    font-size: 15px;
}